<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{{ 'core.zentlix_cms' | trans }}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/core/admin/assets/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/core/admin/assets/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/core/admin/assets/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/core/admin/assets/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/core/admin/assets/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/core/admin/assets/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/core/admin/assets/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/core/admin/assets/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/core/admin/assets/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('bundles/core/admin/assets/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/core/admin/assets/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/core/admin/assets/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/core/admin/assets/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('bundles/core/admin/assets/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/core/admin/assets/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link href="{{ asset('bundles/core/admin/vendors/@coreui/chartjs/css/coreui-chartjs.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/core/admin/vendors/datatable/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/core/admin/vendors/flags/css/flag-icon.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/core/admin/vendors/toastr/toastr.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/core/admin/vendors/@coreui/icons/css/free.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/core/admin/vendors/dropzone/css/dropzone.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/core/admin/vendors/spin-kit/css/spinkit.min.css') }}" rel="stylesheet">
    {% block header_scripts %}{% endblock %}
    <script src="{{ asset('bundles/core/admin/vendors/jquery/jquery.min.js') }}"></script>
    <link href="{{ asset('bundles/core/admin/css/style.css') }}" rel="stylesheet">
</head>
<body class="c-app {% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
    <script src="{{ asset('bundles/core/admin/vendors/cke/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/core/admin/vendors/cke/lang/' ~ app.request.locale ~ '.js') }}"></script>
    <script src="{{ asset('bundles/core/admin/vendors/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/core/admin/vendors/datatable/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('bundles/core/admin/js/datatables.js') }}"></script>
    <script src="{{ asset('bundles/core/admin/vendors/@coreui/coreui/js/coreui.bundle.min.js') }}"></script>
    <!--[if IE]><!-->
    <script src="{{ asset('bundles/core/admin/vendors/@coreui/icons/js/svgxuse.min.js') }}"></script>
    <!--<![endif]-->
    <script src="{{ asset('bundles/core/admin/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js') }}"></script>
    <script src="{{ asset('bundles/core/admin/vendors/@coreui/utils/js/coreui-utils.js') }}"></script>
    <script src="{{ asset('bundles/core/admin/vendors/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('bundles/core/admin/vendors/dropzone/js/dropzone.min.js') }}"></script>
    {% block footer_scripts %}{% endblock %}
    <script src="{{ asset('bundles/core/admin/js/main.js') }}"></script>
</body>
</html>
